Some of the popular languages that Data Scientists use are:

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

1. R
2. Paython
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. ggplot2 
3. Tensorflow
3. Pandas

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Apache Hadoop|
|RapidMiner|

Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to define two variables then sum thier values.

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [ ]:
hours = 200/60

# Objectives: 
The objectives of the notebook is to paractice:
* R 
* paython
* jupyter

## Author 
Asma